-- Add Section 2 column for Legal Disclaimers
ALTER TABLE due_diligence_reports 
ADD COLUMN IF NOT EXISTS legal_disclaimers_reliance_limitations TEXT;

-- Verify the column was added
SELECT column_name, data_type, is_nullable 
FROM information_schema.columns 
WHERE table_name = 'due_diligence_reports' 
AND column_name = 'legal_disclaimers_reliance_limitations';
